#mini-banners {
    margin-top: -3em;
    z-index: 10;
}

#mini-banners .col-12{
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1em;
}

#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

#mini-banners .col-12 a {
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    transition: .3s;
    text-decoration: none;
    z-index: 15;
}

#mini-banners .col-12 a:hover {
    color: #101010;
    transition: .3s;
}

#mini-banners #mini-banner-1 a:hover {
    color: #C09578;
}

#mini-banners #mini-banner-3 a {
    color: #000000;
}

#mini-banners #mini-banner-3 a:hover {
    color: #C09578;
}